<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>

  <connectionStrings>
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=im;Integrated Security=False;User Id=sa;Password=123456;" />
    <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Database=im;Uid=root;Pwd=123465;"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="System.Data.SqlClient" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer"
            type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <!--必须添加否则报错-->
      <!--On your computer, you have installed the Connector for MySql and your machine.config have been modified by adding an item in the DbProviderFactories. So if you put another MySql Data Provider in your web.config, its like if you are trying to register the same thing twice.-->
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" 
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <system.web>
    <!--默认值为 RemoteOnly 内网显示详细异常外网不显示异常 去除全局错误过滤否则在OnException处理完异常后会返回状态码500-->
    <customErrors mode="RemoteOnly" />
  </system.web>

</configuration>